.about-container {
    display: flex;
    height: 50vh;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    
}

.about-container img {
    height: 200px;
}
.manga-genre-container{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    gap: 3px;
}

.manga-genre-container img {
    height: 78%;
    width: 100%;
}
.manga-genre-container h3 {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}

.manga-genre-info {
    display: flex;
    flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
}
.manga-genre-info span{
    color: white;
   font-size: 17px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.manga-detail-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 15px;
}

.manga-detail-container span{
    font-size: 40px;
    letter-spacing: 1px;
    color:  white;

}
.manga-detail-container p{
    color: white;
    font-size: 20px;
    
}
.manga-detail-container .price{
    font-weight: 600;
    color: white;
    font-size: 23px;
}

.quantity{
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.quantity button {
    background: none;
    border: none;
    font-size: 60px;
    color: white;
}

.quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}


.cart-button-container{
    display: flex;
    justify-content: center;
}
.cart-button-container button{
    display: flex;
    font-size: 16px;
    font-weight: 800;
    height: 40px;
    width: 220px;
    background: #fab818;
    border-color: #fab818;
    color: #141519;
    justify-content: center;
    align-items: center;
    gap: 2px;
   
}

.cart-button-container button:hover{
    background: black;
    color: white;
    border: grey;
    
}