
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    min-height: 100vh;

}
#root{
    min-height: 100vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
a{
    color: white;
     text-decoration: none;
}

